VITE_UIPATH_BASE_URL=
VITE_UIPATH_ORG_NAME=
VITE_UIPATH_TENANT_NAME=
VITE_UIPATH_CLIENT_ID=
VITE_UIPATH_SCOPE=

VITE_UIPATH_ORCHESTRATOR_URL=

VITE_UIPATH_REQUIREMENT_FOLDER_NAME=
VITE_UIPATH_REQUIREMENT_PROCESS_NAME=

VITE_UIPATH_ADO_WRITEBACK_FOLDER_NAME=
VITE_UIPATH_ADO_WRITEBACK_PROCESS_NAME=

VITE_UIPATH_TEST_SCENARIO_FOLDER_NAME=
VITE_UIPATH_TEST_SCENARIO_PROCESS_NAME=

VITE_UIPATH_TESTCASE_WRITEBACK_FOLDER_NAME=
VITE_UIPATH_TESTCASE_WRITEBACK_PROCESS_NAME=

VITE_UIPATH_RISK_PLANNER_FOLDER_NAME=
VITE_UIPATH_RISK_PLANNER_PROCESS_NAME=

VITE_UIPATH_EXECUTION_READINESS_FOLDER_NAME=
VITE_UIPATH_EXECUTION_READINESS_PROCESS_NAME=

VITE_UIPATH_TEST_MANAGER_WRITEBACK_FOLDER_NAME=
VITE_UIPATH_TEST_MANAGER_WRITEBACK_PROCESS_NAME=
VITE_UIPATH_TEST_MANAGER_PROJECT_KEY=

VITE_UIPATH_AUTOMATION_LINK_FOLDER_NAME=
VITE_UIPATH_AUTOMATION_LINK_PROCESS_NAME=
VITE_UIPATH_AUTOMATION_PACKAGE_IDENTIFIER=
VITE_UIPATH_AUTOMATION_DEFAULT_ENTRY_POINT=

VITE_UIPATH_TEST_RESULT_TRIAGE_FOLDER_NAME=
VITE_UIPATH_TEST_RESULT_TRIAGE_PROCESS_NAME=

VITE_UIPATH_FINAL_REPORT_MAIL_FOLDER_NAME=
VITE_UIPATH_FINAL_REPORT_MAIL_PROCESS_NAME=